#tlkio {
    /* TODO: make me look less shit */
    width: 100%;
    height: 400px;
}

.header {
    margin-top: 16px;
    text-align: center;
}

.footer {
    font-size: 0.8em;
    text-align: center;
}

.info {
    text-align: center;
}

.video-player {
    text-align: center;
}

#video {
    object-fit: cover;
}
